
div {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(180, 176, 230);
}

header {
    text-align: left;
    background-color:rgba(197, 128, 214, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
} 
.home-title {
    font-family: 'Verdana', Arial, sans-serif; 
    font-size: 2em;
    margin-top: 10px;
}
nav a:hover {
    background-color: black;
    padding: 35px;
}
 
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
    height: 725px;   

}
#hero, .home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
             
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #6f7364;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img {
    padding-top: 15px;
}
footer p {
    text-decoration: none;
    font-size: 1.2em;
    text-align: left;
}  
footer p a:hover {
    text-decoration: underline;
    text-align: left;
} 

.msg {
    background-color: #3b2b75;
    text-align: center;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    padding-bottom: 15px;
    font-size: 8em;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
body {
    background-color: #fcfbfb;
    font-family: 'Brush Script MT', Garamond, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2 {
    margin: 0;
    text-align: center;
    font-size: 24px; 
    line-height: 1.2;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
    text-align: center;

}
.rivers-card {
    margin: 200px 0;
    grid-column: 2 / 5; 
    grid-row: 2 / 3; 
}
.camping-card {
    margin: 200px 0;
    grid-column: 5 / 8; 
    grid-row: 2 / 3; 
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8 / 11; 
    grid-row: 2 / 3; 
}
.book,
.join {
    background-color: #d9c2a3;
    color: black;
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
    width: 80px;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}

.book:hover, 
.join:hover {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 0;
    border-radius: 5px;
}
.card-img, .mountains {
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
                                                                          
                            

                